{% extends "baseLoggedIn.html" %}

{% block title %}
  {{ player.name }} - Rally
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6">
        <img src="{{ player.avatarUrlBig }}" class="img-rounded" alt="{{ player.name }}'s avatar">
      </div>
      <div class="col-sm-6">
        <h1>{{ player.name }}</h1>
        <div class="pull-right">
          <button type="button" class="btn btn-default">
            <i class="fa fa-crosshairs"></i> Challenge!
          </button>
          <button type="button" class="btn btn-default">
            <i class="fa fa-users"></i> Create team
          </button>
          <button type="button" class="btn btn-default">
            <i class="fa fa-envelope"></i> Send message
          </button>
        </div>
      </div>
    </div>
  </div>
  <h2>Achievements</h2>
{% endblock %}
