{% extends "baseLoggedIn.html" %}

{% block title %}
  Stats - Rally
{% endblock %}

{% block content %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Rating</th>
        <th>Wins</th>
        <th>Losses</th>
      </tr>
    </thead>
    <tbody>
    {% for player in players %}
      <tr>
        <td>{{ player.rank }}</td>
        <td>
          <a href="/players/{{ player.id|e('url') }}">
            <img src="{{ player.avatarUrl }}" class="img-circle" alt="{{ player.name }}'s avatar">
            {{ player.name }}
          </a>
        </td>
        <td>{{ player.rating }}</td>
        <td>0</td>
        <td>0</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
