{% extends "baseLoggedIn.html" %}

{% block title %}Settings{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/css/jquery.simplecolorpicker.css">
  <link rel="stylesheet" href="/css/jquery.simplecolorpicker-fontawesome.css">
{% endblock %}

{% block js %}
  <script src="/js/jquery.simplecolorpicker.js"></script>
  <script>
    $(function() {
      $('select[name="color"]').simplecolorpicker({ theme: 'fontawesome' });
    });
  </script>
{% endblock %}

{% block content %}
  <form>
    <a href="http://en.gravatar.com/" target="_blank">
      <img src="{{ avatarUrlBig }}" class="img-rounded" alt="">
    </a>
    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
      <input name="email" type="email" class="form-control" placeholder="Email" value="{{ user.email }}" required>
    </div>
    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
      <input name="new-password" type="password" class="form-control" placeholder="New Password">
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div class="form-group">
          <input name="first-name" type="text" class="form-control" placeholder="First Name" value="{{ user.firstName }}" required>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="form-group">
          <input name="last-name" type="text" class="form-control" placeholder="Last Name" value="{{ user.lastName }}" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <select name="color" class="form-control">
        {% for color in colors %}
        <option value="#{{ color.primary_bg }}">{{ color.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <select name="locale" class="form-control">
        <option value="en_US">English (U.S.)</option>
      </select>
    </div>
    {% include "players/settings/emailNotifications.html" %}
    {% include "players/settings/textMessageNotifications.html" %}
  </form>
{% endblock %}
